<a href="https://colab.research.google.com/github/Denilza/Cientista-de-Dados/blob/main/Desafio_Forbes2000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_forbes = pd.read_csv("Forbes2000.csv")

In [ ]:
df_forbes.head()

,Unnamed: 0,rank,name,country,category,sales,profits,assets,marketvalue
0,1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

In [ ]:
df_forbes.isnull().sum()

Unnamed: 0            0
rank                  0
Nome                  0
País                  0
Categoria             0
Vendas                0
Lucros                5
Ativos                0
Valores de Mercado    0
dtype: int64

In [ ]:
df_forbes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2000 non-null   int64
 1   rank                2000 non-null   int64
 2   Nome                2000 non-null   object
 3   País                2000 non-null   object
 4   Categoria           2000 non-null   object
 5   Vendas              2000 non-null   float64
 6   Lucros              1995 non-null   float64
 7   Ativos              2000 non-null   float64
 8   Valores de Mercado  2000 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 140.8+ KB

In [ ]:
df_forbes.shape

(2000, 9)

In [ ]:
novas_cols = {'Unnamed': 'Identificador',
              'name': 'Nome',
              'country': 'País',
              'category': 'Categoria',
              'sales': 'Vendas',
              'profits': 'Lucros',
              'assets': 'Ativos',
              'Valores de Mercado': 'Valores_Mercado'
                            }

In [ ]:
df_forbes.rename(columns=novas_cols, inplace=True)
df_forbes.head()

,Unnamed: 0,rank,Nome,País,Categoria,Vendas,Lucros,Ativos,Valores_Mercado
0,1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

**Questão 1: Qual é a empresa mais valiosa da lista?**

In [ ]:
df_forbes['Valores_Mercado'].max()

328.54

In [ ]:
filtro = df_forbes['Valores_Mercado'] == 328.54
df_forbes[filtro]

,Unnamed: 0,rank,Nome,País,Categoria,Vendas,Lucros,Ativos,Valores_Mercado
1,2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54

In [ ]:
df_categorias_mais_valiosas = df_forbes.groupby('Categoria').sum('Valores de Mercado')
df_categorias_mais_valiosas.head()

,Unnamed: 0,rank,Vendas,Lucros,Ativos,Valores de Mercado
Categoria,,,,,,
Aerospace & defense,13548,13548,273.95,5.48,349.81,229.13
Banking,334995,334995,1662.83,132.11,29653.55,3240.51
Business services & supplies,85175,85175,468.79,11.95,498.53,501.62
Capital goods,56908,56908,433.12,5.06,499.01,332.68
Chemicals,47605,47605,408.24,13.03,533.25,400.06

*Quais são as empresas mais lucrativas?*

In [ ]:
top10_empresas = df_forbes.nlargest(10, "Lucros")

In [ ]:
top10_empresas

,Unnamed: 0,rank,Nome,País,Categoria,Vendas,Lucros,Ativos,Valores_Mercado
3,4,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
0,1,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
5,6,6,Bank of America,United States,Banking,49.01,10.81,736.45,117.55
4,5,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54
19,20,20,Freddie Mac,United States,Diversified financials,46.26,10.09,752.25,44.25
21,22,22,Altria Group,United States,Food drink & tobacco,60.70,9.20,96.18,111.02
9,10,10,Wal-Mart Stores,United States,Retailing,256.33,9.05,104.91,243.74
30,31,31,Microsoft,United States,Software & services,34.27,8.88,85.94,287.02
16,17,17,Total,France,Oil & gas operations,131.64,8.84,87.84,116.64

*Quais são as cinco categorias mais valiosas?*

In [ ]:
top10_empresas = df_forbes.nlargest(10, 'Lucros')
top10_empresas['Categoria'].unique()

array(['Oil & gas operations', 'Banking', 'Conglomerates',
       'Diversified financials', 'Food drink & tobacco', 'Retailing',
       'Software & services'], dtype=object)

In [ ]:
top10_empresas.groupby('Categoria').mean()

TypeError: agg function failed [how->mean,dtype->object]